{% extends "base.tf.jinja" %}

{% block header_extra %}
provider "spacelift" {
  api_key_endpoint = "https://wellsky.app.spacelift.io"
}
{% endblock %}

{% block spaces %}
{% endblock %}

{% block stacks %}
{% for stack in stacks %}
data "spacelift_stack" "{{ stack._relationships.space._migration_id }}_{{ stack._migration_id }}" {
  {{ argument("stack_id", stack.name, required=True) }}
}

{% if stack.has_variables_with_invalid_name %}
resource "spacelift_mounted_file" "{{ stack._relationships.space._migration_id }}_{{ stack._migration_id }}_env_vars_with_invalid_name" {
  {# The content will be uploaded at a later time to avoid having it in the Terraform code#}
  {{ argument("content", 'base64encode("placeholder = \\"placeholder\\"")', serialize=False) }}
  {{ argument("relative_path", ("source/" ~ stack.vcs.project_root ~ "/tf_vars_with_invalid_name.auto.tfvars")|normalizepath) }}
  {{ argument("stack_id", "data.spacelift_stack." ~ stack._relationships.space._migration_id ~ "_" ~ stack._migration_id ~ ".id", serialize=False) }}
  {{ argument("write_only", false) }}

  lifecycle {
    {{ argument("ignore_changes", "[content]", serialize=False) }}
  }
}
{% endif %}

{% if stack.has_secret_variables_with_invalid_name %}
resource "spacelift_mounted_file" "{{ stack._relationships.space._migration_id }}_{{ stack._migration_id }}_secret_env_vars_with_invalid_name" {
  {# The content will be uploaded at a later time to avoid having it in the Terraform code#}
  {{ argument("content", 'base64encode("placeholder = \\"placeholder\\"")', serialize=False) }}
  {{ argument("relative_path", ("source/" ~ stack.vcs.project_root ~ "/tf_secret_vars_with_invalid_name.auto.tfvars")|normalizepath) }}
  {{ argument("stack_id", "data.spacelift_stack." ~ stack._relationships.space._migration_id ~ "_" ~ stack._migration_id ~ ".id", serialize=False) }}
  {{ argument("write_only", true) }}

  lifecycle {
    {{ argument("ignore_changes", "[content]", serialize=False) }}
  }
}
{% endif %}

{% endfor %}
{% endblock %}


{% block stack_variables %}
{% for variable in stack_variables %}
{% if variable._relationships.stack.vcs.repository %}
resource "spacelift_environment_variable" "{{ variable._relationships.space._migration_id }}_{{ variable._relationships.stack._migration_id }}_{{ variable._migration_id }}" {
  {% if variable.type == "terraform" %}
    {{ argument("name", "TF_VAR_" ~ variable.replacement_name, required=True) }}
  {% else %}
    {{ argument("name", variable.replacement_name, required=True) }}
  {% endif %}

  {{ argument("stack_id", "data.spacelift_stack." ~ variable._relationships.space._migration_id ~ "_" ~ variable._relationships.stack._migration_id ~ ".id", serialize=False) }}
  {% if variable.hcl %}
  {{ argument("value", "jsonencode(" ~ variable.value ~ ")", serialize=False) }}
  {% elif variable.value and "\n" in variable.value %}
  {{ argument("value", "jsonencode(\"" ~ variable.value|replace("\n", "\\n") ~ "\")", serialize=False) }}
  {% else %}
  {{ argument("value", variable.value) }}
  {% endif %}
  {{ argument("write_only", variable.write_only, default=True) }}

  {% block stack_variable_arguments_extra scoped %}{% endblock %}
}
{% endif %}

{% endfor %}

{% endblock %}

{% block modules %}
{% for module in modules %}
{% if module.status == "setup_complete" and module.visibility == "private" %}
resource "spacelift_module" "{{ module._relationships.space._migration_id }}_{{ module._migration_id }}" {

  {%  if  module.vcs.branch == ""%}
  {{ argument("branch", generation_config.modules.default_branch, required=True) }}
  {% else %}
  {{ argument("branch", module.vcs.branch, required=True) }}
  {% endif %}
  {{ argument("name", module.name) }}
  {{ argument("repository", module.vcs.repository, required=True) }}
  {{ argument("terraform_provider", module.terraform_provider) }}
  {% block module_arguments_extra scoped %}{% endblock %}

  github_enterprise {
    {{ argument("namespace", module.vcs.namespace) }}
  }
}
{% endif %}
{% endfor %}
{% endblock %}